[submodule ".registry"]
	path = .registry
	url = https://github.com/richardstoeckl/richardstoeckl.r-universe.dev
	branch = HEAD
[submodule "rgbio"]
	path = rgbio
	url = https://github.com/richardstoeckl/rgbio
	branch = *release
